/* Шрифты */
@import "fonts";

/* Обнуление */
@import "_reset";

/* Переменные */
@import "_vars";


body {
	width: 100%;
	font-weight: $regular;
    font-family: 'Nunito', sans-serif;
	color: $maintxtcolor;

	&._lock {
		overflow: hidden;
	}
}
.main {
    min-height: 100vh;
    padding-top: calc($headerheight);
}
